<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="fw-bold">Person Details</h2>
        <button class="btn btn-primary btn-add" [routerLink]="['/add_user']">+ Add Person</button>
    </div>
    <div class="card p-3">
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Fullname</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip Code</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    @for(item of userData; track $index) {
                        <tr>
                            <td>{{item.fullname}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.city}}</td>
                            <td>{{item.state}}</td>
                            <td>{{item.zipCode}}</td>
                            <td>{{item.phoneNumber}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>